body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.35em;
	background: #3a513a;
	color: aliceblue;
	font-family: 'Asar', serif;
}
container {
	width: 1000px;
}
body, header, section, article, footer {
	border: solid 1px;
}
header {
	font-family: 'Merriweather Sans';
	background: #b27f7f;
	margin-top: 50px;
}
header, section, article, footer {
	padding: 50px;
	margin-bottom: 50px;
}
article {
	width: inherit;
}
a {
	font-family: 'Merriweather Sans', sans-serif;
	color: aliceblue;
	text-decoration: none;
}
a:hover, a:active {
	color: orange;
}
h1, h3, h4, h5, h6 {
	font-family: 'Merriweather', sans-serif;
}
h6 {
	text-transform: uppercase;
}
footer li, main ul li {
	list-style-type: square;
}
footer {
	background: #953f55;
}
hr {
	color: orange;
	background: orange;
	margin: 50px 0;
}
img, .project {
	width: 275px;
	height: 300px;
	border: pink solid 1px;
}
#project-1 {
	background: url("https://media.giphy.com/media/3ov9kacqGycKQRH6Vy/giphy.gif");
}
#project-2 {
	background: url("https://media.giphy.com/media/l378wGtG2aQgZJT32/giphy.gif");
}
#project-3 {
	background: url("https://media.giphy.com/media/3ov9kaW3wyiefU3GGA/giphy.gif");
}
article h5, article h6 {
	display: inline;
	margin: 0 30px;
}
